/* @import url(_normalize.css); */

/* Defaults */

html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    padding: 2rem;
    min-height: 200vh;
}

pre {
    display: inline;
}

/* Project specific */

a {
    padding: 1rem;
    border: 1px solid black;
    display: inline-block;
}

.autofit-grid-with-auto-fit-min-200 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.autofit-grid-with-auto-fit-min-auto {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
}
