/*
* Project defaults
*/

html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
figcaption {
  max-width: 60ch;
}

body {
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
}

[tabindex="-1"] {
    outline: none;
}
