/*
* Utilities
*/

.\!text-align\:center {
    text-align: center !important;
}

.\!visually-hidden {
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    width: 1px !important;
    border: none !important;
    padding: 0px !important;
}

.justify-content\:space-between {
    justify-content: space-between;
}
