/* See bottom of the file for project-specific CSS code */

@import '_normalize';
@import '_defaults';
@import '_variables';
@import '_utilities';

/*
* Project global styles
*/

ul {
    list-style: none;
    padding-left: 0;
}

li {
    padding: 0.5rem;
    border: 1px solid black;
}

.cluster {
    overflow: hidden;
}

.cluster > ul {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
}

.cluster > ul > li {
    margin: 0.5rem;
}

/*
* Project module imports
*/

@import './atoms/layout-primitives';