/* See bottom of the file for project-specific CSS code */

@import '_normalize';
@import '_defaults';
@import '_variables';
@import '_utilities';

/*
* Project global styles
*/

.primary-nav {
    background-color: black;
}

.primary-nav__menu-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 0.125rem white solid;
    color: white;
    padding: 0.5rem;
    background-color: black;
    border-radius: 0.25rem;
    margin: 0.5rem;
}
@media screen and (min-width: 37.5rem) {
    .primary-nav__menu-button {
        display: none;
    }
}

/*
* Project module imports
*/

@import './atoms/layout-primitives';
@import './atoms/skip-link';
@import './molecules/nav-links-list';
@import './molecules/sections-nav';
