/* Stack */

.stack-1 > * + * {
    margin-top: 1rem;
}

/* Cluster */

.cluster-1 {
    margin: -1rem;
}

.cluster-1 > * {
    margin: 1rem;
}

.cluster-0\.5 {
    margin: -0.5rem;
}

.cluster-0\.5 > * {
    margin: 0.5rem;
}

/* Switcher */

.switcher-40 {
    display: flex;
    flex-wrap: wrap;
}

.switcher-40 > * {
    flex: 1;
    flex-basis: calc((37rem - (100% + 2rem)) * 999);
}
